.movie-card {
    width: 360px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 40px;
    .card-img {
        transition: all 0.3s;
    }
    .card-overlay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 2;
    }
    .card-rating {
        position: absolute;
        top: 50px;
        right: 1rem;
        color: $color-white;
        z-index: 3;
        i {
            color: $color-orange;
        }
    }
    .card-content {
        position: absolute;
        bottom: 100px;
        left: 0;
        width: 100%;
        height: 100px;
        overflow: hidden;
        padding: 1rem;
        z-index: 3;
        transition: all 0.3s;
        .title {
            color: $color-white;
            font-weight: bold;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
        }
        .infor,
        .description {
            text-transform: uppercase;
            color: $color-white;
        }
        .description {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .card-bottom {
        position: absolute;
        z-index: 4;
        height: 100px;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-btn-left {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .card-btn-right {
            transform: translateX(100%);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .card-play-btn {
        display: inline-block;
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 3;
        transition: all 0.3s;
        i {
            font-size: 60px;
            color: $color-white;
            &:hover {
                color: $color-orange;
            }
        }
    }
    &:hover {
        .card-play-btn {
            top: 17%;
        }
        .card-overlay {
            background: linear-gradient(to top right, rgba(16, 15, 25, 0.8) 19%, rgba(132, 44, 0, 0.63) 80%);
        }
        .card-img {
            transform: scale(1.2);
        }
        .card-content {
            height: 250px;
        }
        .card-bottom {
            .card-btn-right {
                transform: translateX(0);
            }
        }
    }
}
